
@{
    ViewData["Title"] = "Delete Bowler";
}
@model Bowler


<div class="bg-dark text-white p-2 text-center">

    
        <div class="navbar-brand m-lg-2 text-center">Bowler Deletion Confirmation</div>
        <br />
        <div class="navbar-brand m-lg-2 text-center">Are you sure you want to delete @Model.BowlerFirstName @Model.BowlerLastName</div>

        <form method="post" asp-action="Delete" >
            <button class="btn btn-danger">Delete</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

            <input type="hidden" asp-for="BowlerId" />
        </form>
   

</div>